- cache [@artist, track] do
  %tr
    %td.index
      = track.index
    %td.track
      = track.name
    %td.artist
      = link_to track.artist.name, track.artist
    - unless @volume.present?
      %td.vol
        = link_to "#{track.volume.name} - #{track.volume.location}", track.volume
    %td.actions
      = link_to "edit", edit_track_path(track)
      \|
      = link_to "delete", track_path(track), method: :destroy