= form_for @volume do |f|
  %table.volume_fields
    %tr
      %td
        = f.label :name
        = f.text_field :name
      %td
        = f.label :name, "Artist"
        -#= f.collection_select :artist, Artist.all, :id, :name, {include_blank: true}, {class: "chosen-select"}
        = f.text_field :artist_token, data: {load: @volume.artist}
      %td
        = f.label :location
        = f.text_field :location
      %td
        = f.label :category_id
        = f.collection_select :category_id, Category.all, :id, :name, {include_blank: true}, {class: "chosen-select"}


    %tr
      %td{colspan: 4}
        = f.submit "Save"