- title "#{@volume.name} - #{@volume.artist.name}"

%h1
  = "#{@volume.name_and_location} - #{@volume.artist.name}"

%h3
  = link_to "Back to Albums", volumes_path
  
%table.volume_details.with_striping
  %thead
    %tr
      %th.index
        \#
      %th.track
        Track
      %th.artist
        Artist
      %th.actions
        &nbsp;
  %tbody
    - if @volume.tracks.any?
      = render @volume.tracks
    - else
      %tr.empty_message
        %td{colspan: 5}
          No tracks added yet.
          = link_to "Add one Now", new_volume_track_path(@volume), remote: true